@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://use.typekit.net/var5xjl.css");



*{
    box-sizing: border-box;
}

header {
    background-color: #171A1F;
    font-family: mostra-nuova,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    align-items: center;
    width: 100%;
    color: #957F59;
    text-align: center;
    
 }

body { 
    font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        margin: auto;
        background-color: #3D4750;

 }

 .main {
     background-color: #505355;
     padding: 20px;
     width: 80%;
     margin: auto;
    
 }

 .colors {
    width: 25%;
    padding: 10px;
    float: left;
   
}

.colorname {
    margin-top: 6px;
    font-family: Lato, sans-serif;
    color: #879499;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
}

.colorhex {
    margin-top: 1px;
    color: #879499;
    text-align: center;
}

 .circle {
  
    background-color: #8cc7ab;
    display: block;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
  }

  .circle.one {
    background-color: #fbfbfb;
  }

  .circle.two {
    background-color: #E6D8B9;
  }

  .circle.three {
    background-color: #3D4750;
  }

 .tagline { 
     font-style: italic;
    text-align: center;
    color: #c4f4e3;
}

.font1  {
    font-family: mostra-nuova,sans-serif;
font-weight: 700;
font-style: normal;
}

.font2 {
    font-family: quicksand,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font3 {
    font-family: effra,sans-serif;
    font-weight: 400;
    font-style: normal;
}
footer {
    width: 100%;
    background-color: #171A1F;
    color: #957F59;
    text-align: center;
}