@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body
{
  
  
  font-family: 'Roboto', sans-serif;
  color: #F0B666 ;
  background-color: #1f4590;
  
}

header, footer {
          text-align:  center;
}

figcaption {
  font-style: italic;
}


.links {
  margin: auto;
  width: 18%;
}